@import "tailwindcss";

@theme {
    --color-shadow-50: #dadae5;
    --color-shadow-100: #b6b6cb;
    --color-shadow-200: #9191b1;
    --color-shadow-300: #6d6d97;
    --color-shadow-400: #525274;
    --color-shadow-500: #F64216;
    --color-shadow-600: #2d2d3f;
    --color-shadow-700: #22222f;
    --color-shadow-800: #161620;
    --color-shadow-900: #12121b;
    --color-shadow-950: #0b0b10;
    --color-brand-50: #eee6fd;
    --color-brand-100: #dcccfb;
    --color-brand-200: #cbb3fa;
    --color-brand-300: #ba9af8;
    --color-brand-400: #a880f6;
    --color-brand-500: #9767F4;
    --color-brand-600: #7739f1;
    --color-brand-700: #5a11e7;
    --color-brand-800: #480db9;
    --color-brand-900: #360a8b;

    /*Animaciones*/
    --animate-colorful: colorful 5s linear infinite alternate;
    @keyframes colorful {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

    --animate-colorful-button: colorful-button 5s linear infinite alternate;
    @keyframes colorful-button {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

}

.gradient {
    background: linear-gradient(90deg, #00ffc7, #f0f, #6f00ff, #ffa600, #00ffc7);
    background-size: 400% 100%;
}

.gradient-button {
    background: linear-gradient(-45deg, #691eff, #f0f, #691eff);
    background-size: 200% 200%;
}