---
import Layout from '../layouts/Default.astro'
import Hero from '../components/Hero.astro'
import Problem from '../components/Problem.astro'
---
<Layout>
	<main>
		<Hero />
		<Problem />
	</main>
</Layout>