---
import Layout from '../layouts/Default.astro'
import Hero from '../components/Hero.astro'
import Problem from '../components/Problem.astro'
import Profit from '../components/Profit.astro'
import Method from '../components/Method.astro'
import Highlights from '../components/Highlights.astro'
import Testimonials from '../components/Testimonials.astro'
---
<Layout>
	<main>
		<Hero />
		<Problem />
		<Profit />
		<Method />
		<Highlights />
		<Testimonials />
	</main>
</Layout>