---
import LogoGoogle from '../images/costumers/costumer-google.svg';
import LogoFacebook from '../images/costumers/costumer-facebook.svg';
import LogoAmazon from '../images/costumers/costumer-amazon.svg';
import LogoMicrosoft from '../images/costumers/costumer-microsoft.svg';
import LogoApple from '../images/costumers/costumer-apple.svg';
import LogoUber from '../images/costumers/costumer-uber.svg';
---

<section id="costumers" class="flex flex-col p-5 mt-10">
    <p class="text-zinc-500 mb-5"><small>Empresas que han confiado en nosotros</small></p>
    <div class="flex flex-row gap-8 justify-center items-center">
        <LogoGoogle height={32} fill="#ffffff" class="opacity-45"/>
        <LogoFacebook height={32} fill="#ffffff" class="opacity-45"/>
        <LogoMicrosoft height={32} fill="#ffffff" class="opacity-45"/>
        <LogoUber height={32} fill="#ffffff" class="opacity-45"/>
        <LogoAmazon height={32} fill="#ffffff" class="opacity-45"/>
        <LogoApple height={32} fill="#ffffff" class="opacity-45"/>
    </div>
</section>