---
import Navigation from "./src/components/Navigation.astro";
---

<header class="flex sticky flex-row items-center justify-between gap-8 px-5 py-2 bg-shadow-900">
    <svg xmlns="http://www.w3.org/2000/svg" id="DEVF" version="1.1" viewBox="0 0 334.2 73.9" class="h-4">
        <defs>
          <style>
            .st0 {
              fill: #fff;
            }
          </style>
        </defs>
        <polygon class="st0" points="281.87 21.57 281.87 0 230.29 0 230.29 .02 230.29 21.57 230.29 26.17 230.29 47.73 230.29 73.88 255.7 73.88 255.7 47.73 281.8 47.73 281.8 26.17 255.7 26.17 255.7 21.57 281.87 21.57"/>
        <polygon class="st0" points="131.7 21.57 131.7 0 80.13 0 80.13 .02 80.13 21.57 80.13 26.17 80.13 47.73 80.13 52.34 80.13 73.88 80.13 73.9 131.7 73.9 131.7 52.34 105.54 52.34 105.54 47.73 131.64 47.73 131.64 26.17 105.54 26.17 105.54 21.57 131.7 21.57"/>
        <path class="st0" d="M74.29,36.95C74.29,16.58,57.72,0,37.34,0h-3.55c-.1,0-.2,0-.29,0h0S0,0,0,0v21.56h0v30.77h0v21.56h37.34c20.37,0,36.95-16.57,36.95-36.95ZM25.4,21.57h8.39c8.35.16,15.09,6.99,15.09,15.38s-6.9,15.39-15.39,15.39h0s-8.1,0-8.1,0v-30.77Z"/>
        <polygon class="st0" points="190.28 .02 176.62 39.75 162.95 .02 137.55 .02 162.95 73.88 164.88 73.88 188.36 73.88 190.28 73.88 215.68 .02 190.28 .02"/>
        <rect class="st0" x="202.89" y="52.34" width="21.56" height="21.56" rx="5.03" ry="5.03"/>
        <g>
          <rect class="st0" x="260.31" y="52.34" width="21.56" height="21.56" rx="5.03" ry="5.03"/>
          <rect class="st0" x="286.47" y="52.34" width="21.56" height="21.56" rx="5.03" ry="5.03"/>
          <path class="st0" d="M291.5,0h11.5c2.78,0,5.03,2.25,5.03,5.03v11.5c0,2.78-2.25,5.03-5.03,5.03h-11.5c-2.78,0-5.03-2.25-5.03-5.03V5.04c0-2.78,2.25-5.03,5.03-5.03Z"/>
          <rect class="st0" x="312.64" y="52.34" width="21.56" height="21.56" rx="5.03" ry="5.03"/>
          <path class="st0" d="M317.67,26.17h11.5c2.78,0,5.03,2.25,5.03,5.03v11.5c0,2.78-2.25,5.03-5.03,5.03h-11.5c-2.78,0-5.03-2.25-5.03-5.03v-11.5c0-2.78,2.25-5.03,5.03-5.03Z"/>
        </g>
    </svg>
    <Navigation/>
    <button class="bg-brand-500 rounded-full py-2 px-4">Solicitar consulta</button>
</header>