---
import { Image } from 'astro:assets';
import show from '../images/devf-capacitacion-inteligencia-artificial.png';
---
<section id="hero" class="back-h relative flex flex-col items-center justify-center px-5 py-6 bg-cover bg-center text-center md:text-left md:py-24">

  <div class="hero-content flex flex-col-reverse gap-2 md:flex-row md:gap-12 items-center justify-between">
        <div class="hero-text max-w-lg">
            <h1 class="mb-4 leading-7">
                <span class="text-2xl/14 font-semibold">Capacitación en:</span>
                <span class="block text-5xl leading-[3.5rem] font-bold min-h-[7rem] md:text-7xl md:leading-[4.25rem] md:min-h-[8.5rem] relative"><span id="typewriter-text" class="bg-gradient-to-r from-mag-500 to-sun-500 bg-clip-text text-transparent">Ciencia de Datos</span></span>
            </h1>
            <p class="md:mb-6 text-xl text-zinc-200">Impulsa tu actividad empresarial, desarrollando el <bold class="font-bold">talento tecnológico</bold> de tu equipo.</p>
            <button class="gradient-button animate-colorful-button rounded-full py-2 px-6 mt-6 mb-6 text-shadow-sm">Solicitar una consulta estratégica</button>
        </div>
        <div class="hero-image">
          <Image src={show} alt="Capacita al talento de tu equipo" loading="lazy" decoding="async" class="w-full max-w-60 md:max-w-xl "/>
        </div>
  </div>
</section>

<script>
  const words = ["Programación\nWeb", "Inteligencia\nArtificial", "Ciencia\nde Datos"];
  let i = 0;
  let j = 0;
  let currentWord = "";
  let isDeleting = false;
  const typewriterTextElement = document.getElementById('typewriter-text');

  function type() {
    currentWord = words[i];

    if (isDeleting) {
if (typewriterTextElement) {
    typewriterTextElement.innerText = currentWord.substring(0, j);
}
      if (j === 0) {
        isDeleting = false;
        i = (i + 1) % words.length;
      } else {
        j--;
      }
    } else {
      if (j < currentWord.length) {
        j++;
if (typewriterTextElement) {
    typewriterTextElement.innerText = currentWord.substring(0, j);
}
      }

      if (j === currentWord.length) {
        isDeleting = true;
        setTimeout(type, 1000);
        return;
      }
    }
    const typeSpeed = isDeleting ? 25 : 50;
    setTimeout(type, typeSpeed);
  }

  document.addEventListener('DOMContentLoaded', () => {
    if (typewriterTextElement) {
        setTimeout(type, 1000);
    } else {
        console.error('Element with ID "typewriter-text" not found.');
    }
  });
</script>

<style>
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  #typewriter-text {
    white-space: pre-wrap;
  }

  #typewriter-text::after {
    content: "|";
    color: white;
    font-weight: 300;
    animation: blink 0.7s infinite;
  }
</style>