---
import Costumers from '../components/Costumers.astro';
---
<section id="hero" class="relative flex flex-col p-5 text-center items-center justify-center h-screen bg-shadow-900 -mt-16">

<!--Etiqueta temporal -->
<div class="absolute top-22 left-5 bg-cyan-400 text-cyan-950 rounded-full py-0.5 px-3 text-xs font-bold">01 Necesidad identificada</div>

        <div class="md:w-3/4 max-w-[800px] z-2">
            <h1 class="mb-4 leading-7">
                <span class="text-2xl/14 font-semibold">Capacitación en:</span>
                <span class="block text-6xl/14 font-black relative"><span id="typewriter-text" class="bg-gradient-to-r from-violet-600 to-fuchsia-400 bg-clip-text text-transparent">Tecnología</span><span class="typewriter-cursor">|</span></span>
            </h1>
            <p class="mb-6 text-zinc-200">Impulsa tu actividad empresarial, desarrollando el <bold class="font-bold">talento tecnológico</bold> de tu equipo. Analicemos juntos sus necesidades específicas, sin compromiso</p>
            <button class="gradient-button animate-colorful-button rounded-full py-2 px-6 mt-6 mb-6 text-shadow-sm">Solicitar consulta estratégica</button>
        </div>
        <div class="bg-[url(/devf-hero.webp)] bg-center absolute w-full h-full z-1 opacity-20"></div>
        <Costumers/>
</section>

<script>
  const words = ["Programación web", "Inteligencia Artificial", "Ciencia de Datos"];
  let i = 0;
  let j = 0;
  let currentWord = "";
  let isDeleting = false;
  const typewriterTextElement = document.getElementById('typewriter-text'); 
  const typewriterElement = typewriterTextElement;

  function type() {
    currentWord = words[i];
    if (isDeleting) {
      if (typewriterTextElement) typewriterTextElement.textContent = currentWord.substring(0, j - 1);
      j--;
      if (j === 0) {
        isDeleting = false;
        i++;
        if (i === words.length) {
          i = 0;
        }
      }
    } else {
      if (typewriterTextElement) typewriterTextElement.textContent = currentWord.substring(0, j + 1);
      j++;
      if (j === currentWord.length) {
        isDeleting = true;
        setTimeout(type, 1000); 
        return;
      }
    }
    const typeSpeed = isDeleting ? 50 : 100;
    setTimeout(type, typeSpeed);
  }

  document.addEventListener('DOMContentLoaded', () => {
    if (typewriterTextElement) {
        setTimeout(type, 1000);
    } else {
        console.error('Element with ID "typewriter-text" not found.');
    }
  });
</script>

<style>
  .typewriter-cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.7s infinite;
    position: absolute; 
    bottom: 0.1em;
    font-weight: 300; 
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  #typewriter-text:empty::after {
      content: "\00a0"; 
  }
</style>