<section id="hero" class="flex flex-col p-5 h-fit text-center items-center justify-center h-screen max-h-[600px]">
    <div class="md:w-3/4 max-w-[800px]">
        <h1 class="text-6xl font-bold mb-8">Capacitación en <span class="text-brand-500">tecnología</span><br />que impulsa a las personas</h1>
        <p class="mb-6 text-zinc-200">Desarrollamos el <bold class="font-bold">talento tecnológico</bold> que necesitas. Programas a medida, enfocados en las habilidades clave para la innovación y la eficiencia de tu equipo.</p>
        <button class="bg-brand-500 rounded-full py-2 px-4 mb-6">Solicitar consulta estratégica</button>
        <p class="text-zinc-500"><small>Analicemos juntos sus necesidades específicas, sin compromiso</small></p>
    </div>
</section>