<section id="highlights" class="relative py-8 bg-shadow-900">

    <!--Etiqueta temporal -->
        <div class="absolute top-5 left-5 bg-fuchsia-400 text-fuchsia-900 rounded-full py-0.5 px-3 text-xs font-bold">05 Diferenciadores</div>
    
        <div class="container mx-auto flex flex-col gap-8 p-5 max-w-[1024px]">
            <h2 class="text-center text-3xl font-semibold mb-7">Formación tecnológica confiable para tu equipo.</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
                <div class="text-center p-6">
                    <svg class="w-12 h-12 mx-auto mb-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                    <h3 class="text-xl font-semibold mb-5">Instructores Expertos</h3>
                    <p class="text-zinc-400">Profesionales con experiencia real en la industria, no solo académicos.</p>
                </div>
                <div class="text-center p-6">
                    <svg class="w-12 h-12 mx-auto mb-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
                    <h3 class="text-xl font-semibold mb-5">Instructores Expertos</h3>
                    <p class="text-zinc-400">Profesionales con experiencia real en la industria, no solo académicos.</p>
                </div>
                <div class="text-center p-6">
                    <svg class="w-12 h-12 mx-auto mb-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>                    <h3 class="text-xl font-semibold mb-5">Instructores Expertos</h3>
                    <p class="text-zinc-400">Profesionales con experiencia real en la industria, no solo académicos.</p>
                </div>
                <div class="text-center p-6">
                    <svg class="w-12 h-12 mx-auto mb-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>                    <h3 class="text-xl font-semibold mb-5">Instructores Expertos</h3>
                    <p class="text-zinc-400">Profesionales con experiencia real en la industria, no solo académicos.</p>
                </div>
            </div>
        </div>
    </section>