<section id="method" class="relative py-8 bg-shadow-800">

    <!--Etiqueta temporal -->
        <div class="absolute top-5 left-5 bg-teal-400 text-teal-900 rounded-full py-0.5 px-3 text-xs font-bold">04 Método / ¿Cómo funciona?</div>
    
        <div class="container mx-auto flex flex-col p-5 max-w-[1024px]">
            <h2 class="text-center text-3xl font-semibold mb-7">Un proceso claro y orientado a metas</h2>
            <div class="grid grid-cols-2">

                <div class="relative p-5 text-right border-r-1 border-shadow-500 pr-8"> 
                    <div class="absolute flex justify-center items-center p-4 -right-[17px] rounded-full h-[15px] w-[15px] text-center bg-brand-500 font-bold">1</div>
                    <h3 class="text-xl font-semibold mb-2">Diagnóstico estratégico</h3>
                    <p class="text-zinc-400">Nos reunimos contigo para entender a fondo tus desafíos, objetivos de negocio y el nivel actual de tu equipo.</p>
                    <div></div>       
                </div>

                <div></div>
                <div></div>

                <div class="relative p-5 text-left border-l-1 border-shadow-500 pl-8"> 
                    <div class="absolute flex justify-center items-center p-4 -left-[17px] rounded-full h-[15px] w-[15px] text-center bg-brand-500 font-bold">2</div>
                    <h3 class="text-xl font-semibold mb-2">Diseño curricular a medida</h3>
                    <p class="text-zinc-400">Co-creamos un plan de estudios práctico y relevante, enfocado en las habilidades que generarán mayor impacto.</p>
                    <div></div>       
                </div>

                <div></div>
                <div></div>

                <div class="relative p-5 text-right border-r-1 border-shadow-500 pr-8"> 
                    <div class="absolute flex justify-center items-center p-4 -right-[17px] rounded-full h-[15px] w-[15px] text-center bg-brand-500 font-bold">3</div>
                    <h3 class="text-xl font-semibold mb-2">Implementación flexible</h3>
                    <p class="text-zinc-400">Ejecutamos la capacitación (online, presencial, híbrida) adaptándonos a la operativa de tu empresa.</p>
                    <div></div>       
                </div>

                <div></div>
                <div></div>

                <div class="relative p-5 text-left border-l-1 border-shadow-500 pl-8"> 
                    <div class="absolute flex justify-center items-center p-4 -left-[17px] rounded-full h-[15px] w-[15px] text-center bg-brand-500 font-bold">4</div>
                    <h3 class="text-xl font-semibold mb-2">Medición y acompañamiento</h3>
                    <p class="text-zinc-400">Evaluamos el progreso, aseguramos la aplicabilidad y brindamos soporte continuo para maximizar la transferencia.</p>
                    <div></div>       
                </div>

            </div>
            <p class="mt-8 text-center">Nuestro enfoque va más allá de impartir clases; nos convertimos en tu socio estratégico para el desarrollo de talento tecnológico a largo plazo.</p>
        </div>
    </section>