<nav class="flex-grow">
    <ul class="flex flex-row gap-5">
        <li><a href="#" class="text-shadow-50 hover:text-brand-400">Empresas</a></li>
        <li><a href="#" class="text-shadow-50 hover:text-brand-400">Universidades</a></li>
    </ul>
</nav>