<nav class="hidden md:block md:flex-grow">
    <ul class="flex flex-row gap-5">
        <li><a href="#" class="text-shadow-50 hover:text-brand-400">Empresas</a></li>
        <li><a href="#" class="text-shadow-50 hover:text-brand-400">Universidades</a></li>
        <li><a href="#" class="text-shadow-50 hover:text-brand-400">Ir a Campus</a></li>
    </ul>
</nav>