<section id="testimonials" class="relative py-8 bg-shadow-800">

    <!--Etiqueta temporal -->
        <div class="absolute top-5 left-5 bg-purple-400 text-purple-900 rounded-full py-0.5 px-3 text-xs font-bold">06 Transmitir seguridad/confianza</div>
    
        <div class="container mx-auto flex flex-col gap-8 p-5 max-w-[1024px]">
            <h2 class="text-center text-3xl font-semibold mb-7">Empresas que ya confían en nuestro método</h2>
            <div class="grid grid-cols-3 gap-8">
                
            </div>
        </div>
    </section>